body {
    background-color: black;
    color: black;
}

.card {
    background-color: #333;
    color: white;
}

.form-group {
    margin: 10px 0px;
}

.form-control {
    margin: 10px 0px;
    background-color: black;
    color:white;
}

.form-control::placeholder{
    color: white;
}

.form-control:focus{
    color: white;
    background-color: #444;
}


table , td , th , tr{
    background-color: black !important;
    color: white !important;
}